<h1>My Task</h1>
<ul class=tasks>
  <% @tasks.each do |task| %>
  <li class="task">
    <input type="checkbox" id="task-#{task.id}" name="task-#{task.id}" value="#{task.title}">
    <label for="task-#{task.id}"> <%= link_to task.title, task_path(task) %></label>
    <%= link_to "Delete",task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>

  <%= link_to "Add a new Task", tasks_new_path %>
</ul>